.underline {
    text-decoration: underline;
}

.btn-logout {
    padding: 10px 20px ;
    background-color: #dc3545; /* Adjust color */
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
  }
  

/* Add this to your CSS file or in a <style> block */
.status-approved {
    color: rgb(18, 153, 18) !important; /* Force green color */
    font-weight: bold;
  }
  
.status-pending {
    color: rgb(190, 25, 25) !important; /* Force orange color */
    font-weight: bold;
  }
  
.status-approved {
    color: green; /* For approved status */
}

.status-pending {
    color: yellow; /* For pending status */
}

.status-rejected {
    color: orange; /* For rejected status */
}

